{% extends 'base.html.twig' %}

{% block title %}Sport Dating Home{% endblock %}

{% block body %}

<div class="container-fluid w-50 mx-auto">
    <h1 class="text-center">Welcome to Sport Dating</h1>
    <div class="d-flex flex-row justify-content-around mt-5">
      <a href="{{path('app_login')}}"><button class="btn btn-primary">Login</button></a>
      <a href="{{path('app_register')}}"><button class="btn btn-primary">Register</button></a>
    </div>
</div>
<h2 class="text-center mt-5">Vous pouvez ajouter tous ces sports à votre profil! Et même en créer un!</h2>

<div class="container-fluid d-flex justify-content-around mt-5 px-5 flex-wrap">
{% for sport in sports %}
<div class="card my-2 mx-5" style="width: 15rem;">
  <img src="uploads/{{sport.design}}.jpg" class="card-img-top" alt="{{sport.design}}">
  <div class="card-body">
    <h5 class="card-title">{{sport.design}}</h5>
    <p class="card-text">Retrouvez les gens qui pratiquent ce sport autour de vous !</p>
    <a href="{{path('search')}}" class="btn btn-primary mx-auto d-block">Go!</a>
  </div>
</div>  
{% endfor %}
</div>
{% endblock %}
