{% extends 'base.html.twig' %}

{% block title %}Your profile{% endblock %}

{% block body %}
<div class="container-fluid ">
  
      <h1 class="text-center">Hey {{app.user.prenom}}!</h1>
  
      <div class=" col-12 d-flex flex-column align-items-center mt-5 justify-content-center">
        {{ form_start(form, {'attr': {'class': 'col-4'}}) }}
            {{ form_row(form.design) }}
            {{ form_row(form.newdesign) }}            
            {{ form_row(form.pratiques) }}
            {{ form_row(form.save, {'attr': {'class': 'btn btn-primary mt-4 d-block mx-auto'}}) }}
        {{ form_end(form) }}
      </div>
</div>
{% endblock %}