{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
<div class="container-fluid ">
  
      <h1 class="text-center">Register</h1>
  
      <div class=" col-12 d-flex flex-column align-items-center mt-5 justify-content-center">
        {{ form_start(registrationForm, {'attr': {'class': 'col-4'}}) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_row(registrationForm.nom) }}            
            {{ form_row(registrationForm.prenom) }}
            {{ form_row(registrationForm.depart, {label : 'Département'}) }}
            {{ form_row(registrationForm.sports) }}
            {{ form_row(registrationForm.pratiques) }}
    
    
    
    
            <button type="submit" class="btn btn-primary d-block mx-auto mt-5">Register</button>
        {{ form_end(registrationForm) }}
      </div>
</div class="alert alert-danger">
{% endblock %}
