{% extends 'base.html.twig' %}

{% block title %}Hello TestloginController!{% endblock %}

{% block body %}
<style>
    body{
      width:100%;
      padding: 0!important;
    }
</style>

<div class="container-fluid p-0 pb-5">
{{ form_start(form, {'attr': {'class': 'col-4 mx-auto'}}) }}
            {{ form_row(form.search) }}
            {{ form_row(form.design) }}
            {{ form_row(form.save, {'attr': {'class': 'd-block mx-auto mt-2 btn btn-primary'}}) }}

{{form_end(form)}}
    <h1 class="my-5 mx-5">Search results</h1>
    <div class="row row-cols-6 mb-5 fs-5 fw-bold mx-auto d-flex justify-content-center">
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:20vw;">Email</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">Nom</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">Prénom</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">Département</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">Sport</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:8vw;">Niveau</div>
  </div>
    {% for user in userlist %}
  <div class="row row-cols-6 mx-auto d-flex justify-content-center">
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:20vw;">{{ user.UserId.email }}</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">{{ user.UserId.nom }}</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">{{ user.UserId.prenom }}</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">{{ user.UserId.depart }}</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:16vw;">{{ user.sportId.design }}</div>
      <div class="list-group-item mx-1 mt-2 px-0 text-center" style="width:8vw;">{{ user.niveau }}</div>
  </div>
    {% endfor %}

</div>
{% endblock %}
