<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inconsolata&family=Pacifico&display=swap" rel="stylesheet">  
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
        {% endblock %}
        <style>
        html{
          height: auto;
          min-height: 100%;
        }
        body{
          /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e4f5fc+0,dceff7+0,9fd8ef+51,b2d8e8+100 */
          background: #e4f5fc; /* Old browsers */
          background: -moz-linear-gradient(top,  #e4f5fc 0%, #dceff7 0%, #9fd8ef 51%, #b2d8e8 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top,  #e4f5fc 0%,#dceff7 0%,#9fd8ef 51%,#b2d8e8 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom,  #e4f5fc 0%,#dceff7 0%,#9fd8ef 51%,#b2d8e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f5fc', endColorstr='#b2d8e8',GradientType=0 ); /* IE6-9 */
          font-family: 'Inconsolata', monospace;
        }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('home')}}" style="font-family: 'Pacifico', cursive;">S-PhP-ort Dating</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-5" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('search')}}">Match</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_register')}}">Register</a>
        </li>
      </ul>
      <a href="{{ path('app_profile') }}" class="text-decoration-none">
        <span class="navbar-text">
          <i class="bi bi-person-square"></i>
          {% if app.user %}
            {{ app.user.username }} </span> </a><a href="{{ path('app_logout') }}" class="text-decoration-none"><button class="btn btn-primary ms-4">Logout</button></a>
            {% else %}
              Profile </span></a>
          {% endif %}
        
      
    </div>
  </div>
</nav>  
        {% block body %}{% endblock %}
    </body>
</html>
